.site-page-header-ghost-wrapper {
  padding: 0;
}

.clock-icon {
  transform: scale(2);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
}

.time-group {
  display: flex;

}

.time {
  margin: auto 0;

}

